In [44]:
#import pandas, zipfile and kaggle
import pandas as pd
import zipfile
import kaggle

In [45]:
#download dataset from kaggle using the Kaggle API
!kaggle datasets download -d nelgiriyewithana/world-stock-prices-daily-updating

Dataset URL: https://www.kaggle.com/datasets/nelgiriyewithana/world-stock-prices-daily-updating
License(s): other
world-stock-prices-daily-updating.zip: Skipping, found more recently modified local copy (use --force to force download)

In [46]:
#extract the file from the downloaded zip file
zipfile_name = 'world-stock-prices-daily-updating.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [47]:
#read in the csv file as a pandas dataframe
stocks = pd.read_csv("World-Stock-Prices-Dataset.csv")

In [48]:
#explore the data
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279753 entries, 0 to 279752
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          279753 non-null  object
 1   Open          279753 non-null  float64
 2   High          279753 non-null  float64
 3   Low           279753 non-null  float64
 4   Close         279753 non-null  float64
 5   Volume        279753 non-null  float64
 6   Dividends     279753 non-null  float64
 7   Stock Splits  279753 non-null  float64
 8   Brand_Name    279753 non-null  object
 9   Ticker        279753 non-null  object
 10  Industry_Tag  279753 non-null  object
 11  Country       279753 non-null  object
dtypes: float64(7), object(5)
memory usage: 25.6+ MB

In [49]:
stocks.shape

(279753, 12)

In [50]:
#count the unique values in the Dividends column
stocks.Dividends.value_counts()

Dividends
0.000    277264
0.180        55
0.160        52
0.100        49
0.150        47
          ...
0.636         1
0.632         1
0.668         1
0.395         1
0.964         1
Name: count, Length: 443, dtype: int64

In [51]:
stocks.Date.isnull().sum()

0

In [52]:
#count the unique values in the Ticker column
stocks.Ticker.value_counts()

Ticker
FL      5969
MSFT    5969
ADBE    5969
JPM     5969
MAR     5969
        ...
PTON    1005
ZI       832
ABNB     700
RBLX     640
COIN     616
Name: count, Length: 61, dtype: int64

In [53]:
# Convert the 'Date' column to datetime format, assume it's UTC if timezone information is not provided.
stocks['Date'] = pd.to_datetime(stocks['Date'], utc=True)

# Get today's date in UTC to match the timezone of 'Date'
today = pd.to_datetime('today', utc=True)

# Calculate the date 10 years ago from today
ten_years_ago = today - pd.DateOffset(years=10)

# Filter the data for the last 10 years
data_last_10_years = stocks[stocks['Date'] >= ten_years_ago]

In [54]:
stocks.Date.value_counts

<bound method IndexOpsMixin.value_counts of 0        2023-09-20 04:00:00+00:00
1        2023-09-20 04:00:00+00:00
2        2023-09-20 04:00:00+00:00
3        2023-09-20 04:00:00+00:00
4        2023-09-20 04:00:00+00:00
                    ...
279748   2023-08-29 04:00:00+00:00
279749   2023-08-30 04:00:00+00:00
279750   2023-08-31 04:00:00+00:00
279751   2023-09-01 04:00:00+00:00
279752   2023-09-05 04:00:00+00:00
Name: Date, Length: 279753, dtype: datetime64[ns, UTC]>

In [55]:
#specifying the colomn names that I want to use
new_cols_dict = {
    'Date':'date',	
    'Open':'open_price',
    'High':'high_price',
    'Low':'low_price',
    'Close':'close_price',
    'Volume':'volume',
    'Dividends':'dividends',
    'Stock Splits':'stock_splits',
    'Brand_Name':'brand_name',
    'Ticker':'ticker',
    'Industry_Tag':'industry_tag',
    'Country':'country'
}
#renaming the columns to the specified column names
stocks.rename(new_cols_dict, axis=1, inplace=True)

In [56]:
#creating an industry dictionary
industry_tag_dict = {
    'fitness':'fitness',
    'entertainment':'entertainment',
    'retail':'retail',
    'e-commerce':'e-commerce',
    'technology':'technology',
    'apparel':'apparel',
    'music':'music',
    'gaming':'gaming',
    'aviation':'aviation',
    'automotive':'automotive',
    'food & beverage':'food_and_beverage',
    'consumer goods':'consumer_goods',
    'footwear':'footwear',
    'hospitality':'hospitality',
    'healthcare':'healthcare',
    'cryptocurrency':'cryptocurrency',
    'logistics':'logistics',
    'manufacturing':'manufacturing',
    'food':'food',
    'social media':'social_media',
    'financial services':'financial_services',
    'luxury goods':'luxury_goods',
    'finance':'finance'
}
#changing the industry colomn to string
stocks.industry_tag = stocks.industry_tag.astype('str')
#mapping the values to the actual written industry
stocks.industry_tag = stocks.industry_tag.map(industry_tag_dict)

In [57]:
#creating an industry dictionary
country_dict = {
    'canada':'canada',
    'france':'france',
    'germany':'germany',
    'japan':'japan',
    'netherlands':'netherlands',
    'switzerland':'switzerland',
    'usa':'usa'
}
#changing the country colomn to string
stocks.country = stocks.country.astype('str')
#mapping the values to the actual written country
stocks.country = stocks.country.map(country_dict)

In [58]:
#checking our dataframe to see if mappind have worked
stocks.head()

,date,open_price,high_price,low_price,close_price,volume,dividends,stock_splits,brand_name,ticker,industry_tag,country
0,2023-09-20 04:00:00+00:00,4.840000,4.910000,4.630000,4.670000,7441900.0,0.0,0.0,peloton,PTON,fitness,usa
1,2023-09-20 04:00:00+00:00,397.049988,397.989990,386.119995,386.299988,3866600.0,0.0,0.0,netflix,NFLX,entertainment,usa
2,2023-09-20 04:00:00+00:00,564.349976,569.219971,562.659973,563.830017,1311500.0,0.0,0.0,costco,COST,retail,usa
3,2023-09-20 04:00:00+00:00,138.550003,139.369995,135.199997,135.289993,46263700.0,0.0,0.0,amazon,AMZN,e-commerce,usa
4,2023-09-20 04:00:00+00:00,179.259995,179.699997,175.399994,175.490005,58436200.0,0.0,0.0,apple,AAPL,technology,usa

In [59]:
# Filter the dataset to include only rows where Dividends > 0
filtered_data = stocks[stocks['dividends'] > 0]

# Display the filtered data
filtered_data.head()

,date,open_price,high_price,low_price,close_price,volume,dividends,stock_splits,brand_name,ticker,industry_tag,country
336,2023-09-14 04:00:00+00:00,58.240002,58.590000,58.189999,58.459999,12311600.0,0.46,0.0,the coca-cola company,KO,food_and_beverage,usa
642,2023-09-08 04:00:00+00:00,254.490005,255.210007,251.789993,253.309998,1179700.0,1.26,0.0,fedex,FDX,logistics,usa
727,2023-09-06 04:00:00+00:00,484.410004,485.489990,465.799988,470.609985,46867000.0,0.04,0.0,nvidia,NVDA,technology,usa
8209,2004-05-06 04:00:00+00:00,25.676923,25.746319,25.087049,25.191143,5389400.0,0.10,0.0,costco,COST,retail,usa
8260,2004-07-21 04:00:00+00:00,28.501445,29.078847,28.452749,28.626665,2950000.0,0.10,0.0,costco,COST,retail,usa

In [60]:
filtered_data.shape

(2489, 12)

In [61]:
# Check for and handle missing values
filtered_data.isnull().sum()  # Shows count of NaN in each column
#filtered_data = filtered_data.dropna()  # Drops all rows with any NaN values

date            0
open_price      0
high_price      0
low_price       0
close_price     0
volume          0
dividends       0
stock_splits    0
brand_name      0
ticker          0
industry_tag    0
country         0
dtype: int64

In [62]:
# Saving the cleaned data
filtered_data.to_csv('cleaned_data.csv', index=False)